.messages-page{
    flex-grow: 1;
  
    width: 100%;
    /*height: 100%;*/
  
    display: grid; 
    grid-template-columns: 1fr 10fr;
    /*background: #edf2f6;*/
    grid-template-areas: 'aside messages';
}