/*Всё что связвно с posts */
.posts{
    grid-area: posts;
    padding: 15px;
  }
  
  h3.section-name {
    text-align: left;
    font-weight: 300;
    font-size: larger;
  }
  
  .new-post {
    /*width: fit-content;*/
  }
  
  ul.posts-list {
    overflow-y: auto;
 
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;*/
    display: grid;
    justify-content: start;
    gap:20px;
  }
  
  li.post-item {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    background: #ffffff;

    background-color: var(--post-bg-color);
    border-radius: 30px;
  
  }

  .avatar-post-container{

  }
  
 .avatar-post {
    height: 5vh;
    border-radius: 30px;
    border: 1px solid black;
  }
  
  span.post-text {
    padding: 10px;
  }
  
  .send-post-button {
    float: right;
    color: var(--blue);
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
  
  }
  .send-post-button:hover {
    color: #75b1e8;
}