

.clicker-res-counter{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: larger;
    width: fit-content;
    padding: 20px;
}

.result-text{

}
.result-score{
    padding: 5px;
}