/*main*/
.messages-page {
    flex-grow: 1;

    width: 100%;
    /*height: 100%;*/

    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
    grid-template-rows: 2fr 7fr;
    /*background: #edf2f6;*/
    grid-template-areas:'aside contacts header'
                        'aside contacts  messages';
}


.messages-page {

}

.container {
    grid-area: messages;

    max-height: 70vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    border-radius:30px !important;
}

.container {
    /*margin: 0 auto;*/
    /*width: 50%;*/
    border-radius: 20px;
}

/*
.aside-nav{
grid-area: aside;
}
*/


/*People list contacts */

.contact-list{

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    margin: 20px auto;
    gap:20px;
}
.contact-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.contact-item:hover{
    background: var(--nav-aside-hover);
}

.people-list{
    grid-area: contacts;
    /*background: #444753;*/
    background-color: white;;
}

.search{
    padding: 10px;
    /*background: linear-gradient(var(--main-bg-color), white);/*#444753;*/
}

.search input[type="text"] {
    border-radius: 30px;
    border: none;
    padding: 14px;
    color: black !important;
    border: 2px var(--main-bg-color) solid;
    /*background: #6A6C75;*/
    width: 90%;
    font-size: 14px;
}/*
.search input[type="text"]::placeholder{
    color:white;
}*/
.fa-search {
    position: relative;
    left: -25px;
}


.about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: var(--gray);
}
  

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: green;
}

.offline {
    color: rgb(255, 51, 0);
}

.me {
    color: blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



/* header*/
.chat-header {
    /*width: 50%;*/
    /*margin-left: auto;
    margin-right: auto;*/
    grid-area: header;
    padding: 20px;
    border-bottom: 2px solid white;
    height: fit-content;

    display: flex;
}
.avatar{
    width: 8vw;
    border-radius: 30px;
    height: fit-content;
    border: 1px solid black;
}
.contact-avatar{
    width: 3vw;
}
/*
.chat-header img{
    width: 8vw;
    border-radius: 30px;
    height: fit-content;
    border: 1px solid black;
}*/
.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat-with {
    font-weight: bold;
    font-size: 16px;
}


.chat-num-messages {
    color: var(--gray);
}

/*messages */


.chat-input {
    padding: 20px;
}


.chat-message-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.chat-history {
    padding: 10px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 100%;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-time {
    color: lighten(gray, 8%);
    padding-left: 6px;
}

.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;

}

&:after {
    border-bottom-color: blue;
    left: 93%;
}

&:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: green;
    border-width: 10px;
    margin-left: -10px;
}



#message-to-send {
    width: 100%;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;

}

.fa-file-o,
.fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;

}


.chat-message {
    padding: 30px;

}
